
@{
    ViewBag.Title = "DavetiKabulEtHakem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    Daveti kabul ettiniz. İlgili makale alan editörü ya da baş editör tarafından silinmediği müdddetçe davetler kısmında görünmeye devam edecektir.
    21 gün içinde değerlendirme raporunu ve notunuzu girmeniz beklenmektedir. 
</p>

